body {
  background: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principal {
  background: white;
  border-radius: 20px;
  width: min(70%, 500px);
  padding: 1.5rem;
  margin: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.226);
}

.resultado {
  margin-top: 1rem;
}